.header{
    grid-area: header;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}


.main{
    grid-area: main;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    font-size: 25px;
    text-align: center;
}

#quote-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    font-size: 30px;
    text-align: center;
}

#quote-author {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.twitter{
    grid-area: twitter;
    justify-self: center;
}

.next {
    grid-area: next;

}

.button {
    background-color:white; 
    border: 2px solid black;
    border-radius: 60px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}


.container {
    display: grid;
    align-self: center;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 10px;
    color: #444;
    grid-template-areas:
               "....... header header  ......."
                "....... main main ......."
                ".......  next next .......";
    ;
  }





