.header{
    grid-area: header;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}


.main{
    grid-area: main;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    font-size: 25px;
    text-align: center;
}

.search {
    grid-area: search;
    text-align: center;
}

.button {
    background-color: #6c6c6c; 
    border: 2px solid white;
    border-radius: 60px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

input[type=text]{
  font-size:16px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
  font-family: 'Lucida Sans';
}

::placeholder {
    color: white;
}

.container {
    display: grid;
    align-self: center;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 10px;
    color: #444;
    grid-template-areas:
               "....... header header  ......."
                "....... search search ......."
                ".......  main main .......";
    ;
  }

#resultdiv {
    background-color: white; 
    border: 2px solid #6c6c6c;
    padding: 15px 32px;
    margin: 20px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
  }





